<div class="bg-slate-800 rounded-lg p-6 flex flex-col gap-5">
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-center gap-5">
      <img [src]="product.image" alt="" class="w-20 h-20 rounded-lg" />
      <h2 class="text-white text-xl max-w-2xl font-bold">
        {{ product.title }}
      </h2>
    </div>
    <div class="flex items-center justify-center gap-5">
      <p class="text-white text-lg">
        Цена: <span class="font-bold">{{ product.price | currency }}</span>
      </p>
      <button
        class="py-3 px-5 rounded-lg transition duration-300"
        [ngClass]="{
          'bg-orange-400': isShowDetails,
          'bg-yellow-400': !isShowDetails,
          'hover:bg-orange-500': isShowDetails,
          'hover:bg-yellow-500': !isShowDetails
        }"
        (click)="isShowDetails = !isShowDetails"
      >
        {{ isShowDetails ? "Hide" : "Show" }} Details
      </button>
    </div>
  </div>

  <div *ngIf="isShowDetails">
    <p class="text-white">
      Количество:
      <span class="font-bold">{{ product.rating.count | number }}</span>
      штук(а)
    </p>
    <div class="flex items-center justify-between">
      <p class="text-white text-lg font-light max-w-4xl break-words">
        Описание:
        {{ product.description }}
      </p>
      <p class="text-white">
        Рейтинг:
        <span class="font-bold">{{
          product.rating.rate | number: "1.1-2"
        }}</span>
      </p>
    </div>
  </div>
</div>
